@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

.container{ 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "header header header"
  "pageNames profilePic nameOfPage"
  "pageNames profilePic basicInfo"
  "sideProfile paragraph paragraph"
  "paragraphTwo paragraphTwo sideProfileTwo"
  "footer footer footer";
  grid-gap: 10px
}

body{
  background-color: #E7D8C9;
}

header{
  grid-area: header;
  background-color: #8C5537;
  border-style: groove;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

.ProfilePic{
    grid-area: ProfilePic;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background-color: #D8A280;
    border-style: groove;
    text-align: center;
}

.ProfilePic h1{
    text-shadow: 0px -5px 5px #aea1a0;
}

.ProfilePic-col{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  background-color: #D8A280;
}

.ProfilePic-col img{
    width: 100%;
    display: block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    text-align: center;
}

.layer:hover{
    background: rgba(100, 48, 10, 0.6);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.pageNames{
  grid-area: pageNames; 
  background-color: #D8A280;
  border-style: groove;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-family: 'Titillium Web', sans-serif; 
  font-size: 20px;

}

.buttonOne{
  background-color: #C58F6D;
  border: none;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  transition-duration: .4s;
  display: block;
  border-style: groove;
  border-color: #B27B5C;
}

.button:hover {
  background-color: #9E694A; /* Green */
  color: white;
}

.profilePicTwo{
  grid-area: profilePicTwo;
  background-color: #D8A280;
  border-style: groove;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.nameOfPage{
  grid-area: nameOfPage;
  background-color: #D8A280;
  border-style: groove;
  padding: 5px;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  padding-top: 75px;
  padding-bottom: 50px;
  font-size: 20px;  
}

.basicInfo{
  grid-area: basicInfo;
  background-color: #D8A280;
  border-style: groove;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}

.paragraph{
  grid-area: paragraph;
  background-color: #D8A280;
  border-style: groove;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}

.paragraphTwo{
  grid-area: paragraphTwo;
  background-color: #D8A280;
  border-style: groove;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}

.sideProfile{
  grid-area: sideProfile;
  background-color: #D8A280;
  border-style: groove;
  padding: 10px;
}

.sideProfileTwo{
  grid-area: sideProfileTwo;
  background-color: #D8A280; 
  border-style: groove;
  padding: 10px;
}

footer{
  grid-area: footer;
  background-color: #8C5537;
  border-style: groove;
  padding: 10px;
  text-align: center;
 font-family: 'Titillium Web', sans-serif;
}

img {
  max-width: 100%;
}